%h1 Listing circles

%table
  %tr
    %th
    %th
    %th

  - @circles.each do |circle|
    %tr
      %td= link_to 'Show', circle
      %td= link_to 'Edit', edit_circle_path(circle)
      %td= link_to 'Destroy', circle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Circle', new_circle_path
